<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.track.my.ass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />
    <!--
         GPS
	     https://developer.android.com/develop/sensors-and-location/location/background
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- Background working -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- Map -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name="com.track.my.ass.Preferences"
        android:description="@string/description"
        android:icon="@android:drawable/ic_dialog_map"
        android:label="@string/app_name" >
        <activity
            android:name="com.track.my.ass.TheActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.track.my.ass.Preferences$Activity" />

        <service
            android:name="com.iaaa.Gps"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <!-- <service android:name="com.iaaa.Database"></service> -->
        <receiver
            android:name="com.iaaa.Gps$AlarmReceiver"
            android:enabled="true" />
		<receiver
			android:name="com.iaaa.Gps$StopServiceReceiver"
			android:enabled="true"
			android:process=":remote" />
    </application>

</manifest>